.list-view .list-cell{
    -fx-background-radius: 30;
    -fx-font-family: "Segoe UI Semibold";;
    -fx-font-size: 16;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #222222;
}
.list-view .cell:hover{
    -fx-background-color: #9C8FA9;
}
.list-view .cell:selected{
    -fx-background-color: #9C5FA5;
}
.button-view .button selected{
}
