
#playlistList,
#songList {
    -fx-border-width: 0;
}
#playlistList .cell{
    -fx-background-color: #FFFFFF;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-style: italic;
    -fx-font-size: 18;
    -fx-padding: 0 0 0 23;
}
#playlistList .cell :hover{
    -fx-background-color: #eeeeee;
}
#playlistList .cell:selected{
    -fx-background-color: #efebef;
}
#songList .cell{
    -fx-padding: 0 0 0 15;
    -fx-background-color: rgba(250, 247, 252, 0.89);
    -fx-background-radius: 30;
    -fx-background-insets: 3 5 0 5;
    -fx-border-radius: 30;
    -fx-border-color: #c5b9d2;
    -fx-border-insets: 3 5 0 5;
    -fx-font-family: "Segoe UI Semibold";;
    -fx-font-size: 16;
    -fx-text-fill: #222222;
}
#songlist .cell:hover{
    -fx-background-color: #6ee308;
}
#songList .cell:selected{

    -fx-background-color: #e6caec;
}
#songList .cell:empty{
    -fx-border-color: #FFFFFF;
    -fx-background-color: #FFFFFF;
}
#previousButton,
#pauseButton,
#nextButton{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 50;
    -fx-border-color: #e0dbdb;
    -fx-border-width: 2;
    -fx-border-radius: 50;
}
#previousButton:hover,
#pauseButton:hover,
#nextButton:hover,
#changeSoundButton:hover,
#repeatButton:hover,
#shuffleButton:hover{
    -fx-background-color: #efefef
}
#previousButton:pressed,
#pauseButton:pressed,
#nextButton:pressed,
#changeSoundButton:pressed,
#shuffleButton:pressed,
#repeatButton:pressed,
#shuffleButton:pressed,
#repeatButton:pressed{
    -fx-background-color: #d2d1d1;
}
#shuffleButton,
#changeSoundButton,
#repeatButton{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
    -fx-border-color: #e0dbdb;
    -fx-border-width: 1;
    -fx-border-radius: 30;
}




